* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:
    linear-gradient(
      to right bottom,
      #7ed56fa2,
      #28b485a2
    ),
    url('../assets/green.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
}

.header {
  text-align: center;
  padding-top: 50px;
  color: #e3b448;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.5rem;
  animation: topToBottom 2s ease-out;
}

.main {
  display: flex;
  justify-content: space-evenly;
  height: 95vh;
  padding-top: 10vh;
}

.recent-scores {
  width: 35%;
}

.recent-scores-heading {
  display: flex;
  justify-content: space-between;
  color: #e3b448;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.recent-scores-refresh {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background-color: #cbd18f;
  color: darkcyan;
}

.recent-scores-list {
  border: 2px solid darkcyan;
  list-style: none;
  animation: topToBottom 2s ease-out;
}

.score {
  padding: 10px;
  background-color: #cbd18fa2;
  color: #494949;
}

.score:nth-of-type(2n + 1) {
  background-color: #e3b448a2;
  color: #fff;
}

.add-score {
  width: 35%;
  padding-top: 10px;
  animation: topToBottom 2s ease-out;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
}

.form h2 {
  color: #e3b448;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.form input {
  font-size: 1rem;
  padding: 10px;
  margin: 10px 0;
}

.submit-button {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background-color: #cbd18f;
  color: darkcyan;
  font-size: 1rem;
  margin: 10px 0;
}

@keyframes topToBottom {
  0% {
    opacity: 100;
    transform: translateY(-200px);
  }
  
  80% {
    opacity: 20;
    transform: translateY(50px);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
